*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    line-height: 2em;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11.5vh;
    background-color: white;
    align-self: start;
    border-bottom: 3px solid whitesmoke;
}

.header-2{
    border-bottom: 0;
}

div >a, span>a{
    text-decoration: none;
}

.left-header{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.right-header{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.colored-blue > a, 
.password-blue{
    color: blue;
}

.shell-1{
    height: 200vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
}

.form-container{
    width: 40%;
    margin-top: 18vh;
}

.login-container{
    padding-right: 10%;
}

.masthead{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 6.6vh;
    border-bottom: 3px solid whitesmoke;
}

.first-line{
    font-size: 1.3em;
    padding: 2em 0 0.5em 0;
}

.form-parent > .input{
    width: 75%;
    height: 3em;
    background-color: #eee;
    border: none;
}

.password{
    margin-right: 38%;
}

.registeration-container{
    padding-left: 10%;
}

.aqua{
    color: aqua;
}

.btn{
    background-color: #0000ff;
    border: none;
    color: white;
    width: 7em;
    height: 3em;
    font-weight: bold;
    font-size: 1em;
}

.btn2{
    width: 12em;
}
