.header{
   display: none;
}

/* .header-2{
    border-bottom: 0;
} */

div >a, span>a{
    text-decoration: none;
}

.left-header{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.right-header{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.colored-blue > a{
    color: blue;
}

.parent-shell2{
    height: 80vh;
    display: flex;
}

.box1, .box2{
    height: 100%;
}

.box1{
    width: 71.5%;
    background-color: #E1FF8A;  
}

.box1-content{
    padding: 5.3rem 3.8rem 5.3rem 5.3rem;
    display: flex;
    flex-direction: column;
}

.box1-content>h1{
    font-size: 3.3rem;
    line-height: 1;
}

.box1-content>h3{
    font-size: 1.15rem;
}

.box1-content>p>a{
    text-decoration: none;
    color: blue;
}

.box1-content>a{
    margin-top: 2rem;
}

#system-option{
    font-size: 1.1em;
    width: 13.5rem;
    height: 3rem;
    text-align: center;
    border-radius: none;
    border: 2px solid black;
    margin-right: 1.2rem;
}

.btn{
    width: 10rem;
    height: 3rem;
    font-weight: 800;
    border: none;
    background-color: blue;
    color: white;
}

.box2{
    width: 28.5%;
    background-image: url(/Assets/images/live.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.parent-shell3{
    font-size: 0.9rem;
    height: fit-content;
    line-height: 1.6rem;
    /* height: 217vh; */
    display: flex;
    padding: 5.2rem;
}

.box{
    width: 50%;
    height: 100%;
}

.box3{
    padding-right: 2rem;
}

.margin-top{
    margin-top: 1rem;
}

.break{
    display: none;
}

.box3-3>p>a{
    text-decoration: none;
    color: blue;
}

.bottom-margin{
    margin-bottom: 1.4rem;
}

.box4{
    padding-left: 4em;
}

.box4>.margin-b{
    margin-bottom: 0.7rem;
}

ul.inside{
    margin-top: 0.5rem;
    list-style-position: inside;
}

/* styling the footer */
footer{
    border-top: 3px solid whitesmoke;
    height: fit-content;
    padding: 9% 0 9% 9%;
    font-size: 0.9rem;
}

.grid{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.grid-item1>h2{
    font-size: 2.7rem;
}

.grid-item1{
    order: 0;
}

.grid-item2{
    order: 2;
}

.grid-item3{
    order: 3;
}

.grid-item4{
    order: 1;
}

.grid-item5{
    order: 4;
}

.grid-item6{
    order: 5;
}

.input-layout>#address{
    width: 83%;
    height: 1.9rem;
    background-color: #eee;
    border: none;
}

.icon-large{
    font-size: 2rem;
    margin-right: 0.5rem;
}

.input-layout>.footer-btn{
    background-color: #0000ff;
    border: none;
    height: 1.9rem;
    width: 6.2rem;
    color: white;
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

.style-none> li>a,
.flex-left>li>a{
    color: black;
    text-decoration: none;
}

.style-none>li, 
.flex-left>li, 
.flex-right>li{
    list-style-type: none;
}

.selection{
    background-color: #eee;
    border: none;
    height: 2rem;
}

.slct1{
    width: 7.5rem;
}

.slct2{
    width: 13rem;
}

.flex-left, .flex-right{
    margin-top: 3rem;
}

.flex-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.footer-img>img{
    height: 4rem;
    width: 4rem;
}

.footer-img{
    display: flex;
    align-items: center;
}