.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11.5vh;
    background-color: white;
    align-self: start;
    border-bottom: 3px solid whitesmoke;
}

.left-header{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.right-header{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.colored-blue > a, 
.password-blue{
    color: blue;
}

/* styling the form */

.form-container1, .form-container2{
    width: 40%;
    margin-top: 18vh;
}

.login-container{
    padding-right: 10%;
}

.masthead{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 6.6vh;
    border-bottom: 3px solid whitesmoke;
}

.first-line{
    font-size: 1.3em;
    padding: 2em 0 0.5em 0;
}

.form-parent > .input, #options{
    width: 75%;
    height: 3em;
    background-color: #eee;
    border: none;
}

.password{
    margin-right: 38%;
}

.registeration-container{
    padding-left: 10%;
}

.aqua{
    color: aqua;
}

.btn{
    background-color: #0000ff;
    border: none;
    color: white;
    width: 7em;
    height: 3em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.btn2{
    width: 12em;
}


/* styling the footer */
footer{
    height: 120vh;
    padding: 9% 0 9% 9%;
}

.grid{
    display: grid;
    grid-template-columns: 25% 30% 40%;
    grid-template-rows: 15vh 25vh 20vh;
    border: 1px solid black;
    margin-bottom: 10%;
}

.grid-item1{
    grid-column: 1/-1;
}

.grid-item1>h2{
    font-size: 3.5rem;
}

.grid-item6{
    grid-column: 2/4;
}

.style-none> li>a, 
.flex-left>li>a{
    text-decoration: none;
    color: black;
}

.input-layout>#address{
    width: 70%;
    height: 26%;
    background-color: #eee;
    border: none;
}

.icon-large{
    font-size: 2rem;
    margin-right: 0.2rem;
}

.input-layout>.footer-btn{
    background-color: #0000ff;
    border: none;
    height: 26%;
    width: 25%;
    color: white;
}

.pointer{
    cursor: pointer;
}

.selection{
    background-color: #eee;
    border: none;
    height: 2rem;
}

.slct1{
    width: 37.5rem;
}

.slct2{
    width: 13rem;
}

.flex-parent{
    display: flex;
    justify-content: space-between;
}

.flex-left{
    width: 39%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.flex-right{
    display: flex;
    align-items: center;
    margin-right: 7rem;
    font-size: 0.8rem;
}

.flex-right>.footer-img>img{
    width: 4rem;
    height: 5rem;
}

.footer-img{
    display: flex;
    align-items: center;
}
