.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11.5vh;
    background-color: white;
    align-self: start;
    border-bottom: 3px solid whitesmoke;
    font-weight: 600;
    font-size: 1.25rem;
    flex-wrap: nowrap;
    overflow: hidden;
}

.left-header{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-left: 1.8rem;
    align-items: center;
}

.left-header>div>a>img{
    height: 5rem;
    width: 5rem;
    transform: scale(0.9);
    transform: translateY(.4rem);
}

.left-header> div > a:link,
.right-header> div > a:link{
    color: black;
}

.left-header>div > a:visited,
.right-header> div > a:visited{
    color: black;
}

.right-header{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.right-header>.colored-blue > a:link{
    color: #0000ff;
}

.right-header>.colored-blue > a:visited{
    color: #0000ff;
}

.font-size-header{
    font-weight: 700;
    font-size: 1.25rem;
}

.small-font-size{
    font-size: 1rem;
}

.colored-blue > a, 
.password-blue{
    color: blue;
}

/* styling the form */

.form-container1, .form-container2{
    width: 40%;
    margin-top: 18vh;
}

.login-container{
    padding-right: 10%;
}

.masthead{
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 6.6vh;
    border-bottom: 3px solid whitesmoke;
}

.first-line{
    font-weight: 700;
    font-size: 1.25rem;
    padding: 2rem 0 0 0;
}

.p-font{
    font-weight: 400;
    font-size: 1.25rem;
}

.form-parent > .input, #options{
    width: 24rem;
    height: 3rem;
    background-color: #eee;
    border: none;
}

.form-parent>label{
    font-weight: 600;
    font-size: 0.875rem;
}

.password-label{
    width: 24rem;
    display: inline-flex;
    justify-content: space-between;
}

.registeration-container{
    padding-left: 10%;
}

.aqua{
    color: #00a2b0;
    font-weight: 700;
    font-size: 0.875rem;
}

.btn{
    background-color: #0000ff;
    border: none;
    color: white;
    width: 7em;
    height: 3em;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
}

.btn2{
    width: 12em;
}


/* styling the footer */
footer{
    height: 120vh;
    padding: 9% 0 9% 9%;
}

.grid{
    display: grid;
    grid-template-columns: 25% 33% 39%;
    grid-template-rows: 15vh 25vh 20vh;
    /* border: 1px solid black; */
    margin-bottom: 10%;
}

.footer-font{
    font-weight: 400;
    font-size: 1.25rem;
}

.grid-item1{
    grid-column: 1/-1;
}

.grid-item1>h2{
    font-size: 4rem;
    font-weight: 600;
}

.grid-item6{
    grid-column: 2/4;
}

.style-none> li>a, 
.flex-left>li>a{
    text-decoration: none;
    color: black;
}

.input-layout>#address{
    width: 70%;
    height: 26%;
    background-color: #eee;
    border: none;
}

.icon-large{
    font-size: 2rem;
    margin-right: 0.2rem;
}

.input-layout>.footer-btn{
    background-color: #0000ff;
    border: none;
    height: 26%;
    width: 25%;
    color: white;
}

.pointer{
    cursor: pointer;
}

.selection{
    background-color: #eee;
    border: none;
    height: 2rem;
}

.slct1{
    width: 7.5rem;
}

.slct2{
    width: 13rem;
}

.flex-parent{
    display: flex;
    justify-content: space-between;
}

.flex-left{
    width: 39%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.flex-right{
    display: flex;
    align-items: center;
    margin-right: 7rem;
    font-size: 0.8rem;
}

.footer-bottom-font{
    font-weight: 700;
    font-size: 0.8rem;
}

.flex-right>.footer-img>img{
    width: 4rem;
    height: 5rem;
}

.footer-img{
    display: flex;
    align-items: center;
}
