.header{
    display: none;
}

.form-container1, .form-container2{
    width: 40%;
    margin-top: 18vh;
}

.login-container{
    padding-right: 10%;
}

.masthead{
    font-size: 2.5rem;
    font-weight: bolder;
    padding-bottom: 5.3vh;
    border-bottom: 3px solid whitesmoke;
}

.first-line{
    font-weight: 700;
    font-size: 1rem;
    padding: 1.4rem 0 0 0;
}

.p-font{
    font-weight: 500;
    font-size: 1rem;
}

.form-parent > .input, #options{
    width: 24rem;
    height: 3rem;
    background-color: #eee;
    border: none;
}

.form-parent>label{
    font-weight: 600;
    font-size: 0.8rem;
}

.password-label{
    width: 24rem;
    display: inline-flex;
    justify-content: space-between;
}

.registeration-container{
    padding-left: 10%;
}

.aqua{
    color: #00a2b0;
    font-weight: 700;
    font-size: 0.875rem;
}

.btn{
    background-color: #0000ff;
    border: none;
    color: white;
    width: 7em;
    height: 3em;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.btn2{
    width: 12em;
}

/* styling the footer */
footer{
    height: fit-content;
    padding: 9% 0 9% 9%;
    font-size: 0.9rem;
}

.grid{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.grid-item1>h2{
    font-size: 2.6rem;
    font-weight: 600;
}

.grid-item1{
    order: 0;
}

.grid-item2{
    order: 2;
}

.grid-item3{
    order: 3;
}

.grid-item4{
    order: 1;
}

.grid-item5{
    order: 4;
}

.grid-item6{
    order: 5;
}

.footer-font, .footer-bottom-font{
    font-weight: 500;
    font-size: 1rem;
}

.input-layout>#address{
    width: 83%;
    height: 1.9rem;
    background-color: #eee;
    border: none;
}

.input-layout>.footer-btn{
    background-color: #0000ff;
    border: none;
    height: 1.9rem;
    width: 6.2rem;
    color: white;
    font-weight: bold;
}

.pointer{
    cursor: pointer;
}

.style-none> li>a,
.flex-left>li>a{
    color: black;
}

.selection{
    background-color: #eee;
    border: none;
    height: 2rem;
}

.slct1{
    width: 7.5rem;
}

.slct2{
    width: 13rem;
}

.flex-left, .flex-right{
    margin-top: 3rem;
}

.flex-right{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}

.footer-img>img{
    height: 4rem;
    width: 4rem;
}

.footer-img{
    display: flex;
    align-items: center;
}